extends _layout.pug

block content
    main.layout-main-wrapper_stripe
        article.article.article_stripe
            h1.article-h1 Important news from bikebubl
            h2.article-h2 New Payment System
            p.article-p
                | Firstly, we’d like to say thank you for your continued support of our business.
                | As a result of your help, we’ve been able to grow and improve faster than we ever imagined.
            p.article-p
                | A major area of improvement we are working on is making it easier and more convenient for you to pay.
                | Gone will be the days of us knocking on your door at unsociable hours, banished the thoughts of Have I paid the window cleaner yet?
            h2.article-h2 What is Stripe?
            p.article-p
                | In August, we are launching Stripe as our primary method of payment.
                | Following a consultation, we have chosen Stripe as it is regarded as the most secure and reliable of comparable payment systems. Crucially, it is also flexible and protects the customer - you will only be charged for completed cleans, and can contact us within 5 days if you are not happy, in which case we will suspend the payment until your windows are satisfactorily sparkling.
            p.article-p
                | For more information about Stripe and how the service works, please visit:
            p.article-p
                | https://stripe.com/gb/payments
                br
                | https://stripe.com/docs/security/stripe
            h2.article-h2 What do I need to do?
            p.article-p
                | Once we have introduced this payment method, we will be sending personalised messages via SMS which link you to Stripe’s secure server and direct you through the signup process.
                | So all you have to do now is wait for our message and stay tuned for the introduction of new services - including back window cleaning booking, car cleaning and gutter cleaning - all of which will be delivered using our environmentally-friendly cycles!
            p.article-p
                | From all the cleaners at Bike Bubl, we’d like to say thanks again to our customers for their continued support and patience!
            p.article-p
                | Sincerily Yours,
                img(src='/imgs/signatures.png' class='article-img')
