@font-face {
  font-family: 'Rift';
  src: url('/fonts/Rift-Regular.woff2') format('woff2'),
  url('/fonts/Rift-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rift';
  src: url('/fonts/Rift-MediumItalic.woff2') format('woff2'),
  url('/fonts/Rift-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rift';
  src: url('/fonts/Rift-Italic.woff2') format('woff2'),
  url('/fonts/Rift-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Politica';
  src: url('/fonts/Politica.woff2') format('woff2'),
  url('/fonts/Politica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans-Light.woff2') format('woff2'),
  url('/fonts/GillSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ArTarumianMHarvats';
  src: url('/fonts/ArTarumianMHarvats.woff2') format('woff2'),
  url('/fonts/ArTarumianMHarvats.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



